:root.theme-dark {
  --main-bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --main-title-color: #000028;
  --main-text-color: #F1B2CE;
  --nav-color: #ff0070;
  --nav-hover-color: #FF007066;
  --title-bg-color: #FF0070;
  --accent-color: #FF0070;
  --header-text-color: #DB00FF;
  --footer-text-color: #DB00FF;
}

.theme-dark .header__rec {
  display: block;
}