/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-bg-color: #FFF1F7;
  --bg-image: url('../images/cover-image-light.png');
  --nav-color: #FF8DCB;
  --nav-hover-color: #32312D66;
  --accent-color: #FF8DCB;
  --header-text-color: #FFC2E6;
  --footer-text-color: #FFC2E6;
  --main-title-color: #353430;
  --main-text-color: #353430;
  --title-bg-color: #FF8DCB;
}

.theme-light .header__rec { 
  display: none;
}

@media (prefers-color-scheme: light) { 
  :root{
    --main-bg-color: #FFF1F7;
    --bg-image: url('../images/cover-image-light.png');
    --nav-color: #FF8DCB;
    --nav-hover-color: #32312D66;
    --accent-color: #FF8DCB;
    --header-text-color: #FFC2E6;
    --footer-text-color: #FFC2E6;
    --main-title-color: #353430;
    --main-text-color: #353430;
    --title-bg-color: #FF8DCB;
  }
  .theme-light .header__rec { 
    display: none;
  }
}
