.page {
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  inline-size: 100%;
  min-block-size: 100vh;
  background-size: cover;
  background-color: var(--main-bg-color);
}

.header {
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 1fr 35%;
  align-items: center;
  padding: var(--header-padding);
}

.header__rec {
  position: absolute;
  color: var(--nav-color);
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
}

.header__rec::after {
  content: '';
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  background-color: var(--nav-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.decorated-zone {
  position: relative;
  block-size: 100vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11.5px;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--nav-hover-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  font-weight: 400;
  color: var(--nav-color);
  border: 1px solid transparent;
  padding: 1.5px 13px;
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.header__title {
  font-family: var(--main-font-family);
  font-size: var(--header-text-size);
  color: var(--header-text-color);
  font-weight: 700;
  line-height: 83%;
  text-shadow:4px 4px 0px var(--accent-color);
}

.smaller-title{
  font-weight: 400;
}

.title-decor {
  background-color: var(--title-bg-color);
  font-size: var(--main-text-size);
  font-family: var(--main-font-family);
  color: var(--main-title-color);
  font-weight: 700;
}

.main__info {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content-classic {
  display: grid;
  grid-template-rows: auto-fit;
  gap: 20px;
}

.content-landscape {
  display: grid;
  grid-template-rows: auto-fit;
  gap: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto-fit;
  gap: var(--main-gap);
}

.content__section-title {
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  color: var(--title-content-color);
  font-weight: 700;
  line-height: var(--main-line-height);
  align-self: start;
}

.focus__paragraph {
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  color: var(--main-text-color);
  font-weight: 400;
  line-height: var(--main-line-height);
  inline-size: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: solid 1px var(--link-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--link-color);
}

.gallery-title {
  margin-bottom: var(--main-gap);
}

.content__hint-alter {
  width: 100%;
}

.footer__focus {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  font-family: var(--main-font-family);
  font-size: var(--footer-text-size);
  color: var(--footer-text-color);
  font-weight: 700;
  line-height: 83%;
  text-shadow:2px 2px 0px var(--accent-color);
}

@media (width >= 768px) {
  .content-landscape {
    grid-template-columns: 32.42% 64.84%;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
      "title ."
      "cards cards";
  }

  .header {
    padding: var(--header-padding) var(--header-padding) var(--header-padding) 0px;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr 1fr;
  }


  .header__title {
    grid-row: 2;
    grid-column: 1 / span 2;
    text-align: start;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
  }

  .header__info {
    justify-self: end;
    grid-row: 3;
    grid-column: 2;
    width: calc(100% - 7px);
  }

  .main__info {
    padding: 60px 20px;
    gap: 80px;
  }

  .content-classic {
    grid-template-columns: 32.42% 64.84%;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "title cards"
      ". cards"
  }

  .card-container {
    grid-area: cards;
  }

  .content__section-title {
    grid-area: title;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .content__hint-alter {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  .content__hint-alter-mountain {
    grid-row: 1;
    grid-column: 1 /span 2;
  }
  
  .content__hint-alter-ice-cream {
    grid-column: 3;
    grid-row: 1 /span 2;
  }

  .content__hint-alter-tape {
    grid-column: 1;
    grid-row: 2 /span 2;
  }

  .content__hint-alter-books {
    grid-row: 2;
    grid-column: 2;
  }

  .content__hint-alter-street {
    grid-column: 2 /span 2;
    grid-row: 3;
  }
}

@media (width >=1024px) {
  .content-landscape {
    grid-template-columns: 32.42% 65.62%;
    gap: 20px;
  }

  .content-classic {
    grid-template-columns: 32.42% 65.88%;
    gap: 15px;
  }

  .content-landscape .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .header__theme-menu {
    grid-column: 1 /span 2;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    margin-top: -3px;
    margin-right: -15px;
  }
}


